<f:layout name="Backend/Backend"/>

<f:section name="main">
    <h1><f:translate key="LLL:EXT:hwt_importhandler/Resources/Private/Language/locallang_mod.xlf:configureHeader" /></h1>
    <p>
        <b>
            <f:translate key="LLL:EXT:hwt_importhandler/Resources/Private/Language/locallang_mod.xlf:step.start" />
            <f:translate key="LLL:EXT:hwt_importhandler/Resources/Private/Language/locallang_mod.xlf:step.configure" />
        </b>
        <f:translate key="LLL:EXT:hwt_importhandler/Resources/Private/Language/locallang_mod.xlf:step.import" />
    </p>
    <f:flashMessages />

    <f:render partial="Backend/Configure/ConfigureForm" arguments="{_all}" />
</f:section>